# Build Folders
/bin/
/obj/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio cache
.vs/
.vscode/

# Logs
*.log

# Others
*.dbmdl
*.bak
*.backup

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# StyleCop
StyleCopReport.xml

# Temporary Files
*.tmp
*.temp

# NuGet Packages
*.nupkg
packages/
*.nuget.props
*.nuget.targets

# Publish Web Output
*.[Pp]ublish.xml
*.azurepub

# Node.js
node_modules/
npm-debug.log

# Rider
.idea/

# Windows
Thumbs.db