/* _content/Frontend/Pages/Shared/_Layout.cshtml.rz.scp.css */
/* _Layout.cshtml.css */

body[b-uq42hxt8r2] {
  padding-top: 70px;
}

.footer[b-uq42hxt8r2] {
  background-color: #f8f9fa;
  padding: 20px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.navbar-brand[b-uq42hxt8r2] {
  font-weight: bold;
}

.btn-block[b-uq42hxt8r2] {
  width: 100%;
  margin-bottom: 10px;
}
